
:root {
    font-size: 14px;
}

.cart {
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    min-height: 100%;
}

.hero-container {
    margin-top: 7vh;
    width: 90%;
    height: 85%;
}

.spining-arts{
    margin-top: 2rem;
    padding: 0 1rem;
}

.carousel{
    padding: 8rem 8rem 10rem;
}

.product-gallery {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(8, 10rem);
    grid-template-areas:
        'a a'
        'b b'
        'c c'
        'c c'
        'd d'
        'e f'
        'e f'
        'g g';
    margin: 2rem;
}

section.gallery  p {
    text-align: center;
}

.search {
    margin: 10vh auto 1rem;
}