
:root {
    font-size: 10px;
}

.cart {
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    min-height: 100%;
}

.hero-container {
    width: 90%;
    height: 75%;
}

.hero-container > h1 {
    font-weight: 100;
    font-size: 2.5rem;
    color: var(--white);
    margin: 15% 0 0 15%;
}

.hero-container > h1:nth-child(2) {
    margin: -1rem 0 0 25%;
}

.spining-art{
    margin: 0rem 0 0 20%;
}

.carousel{
    padding: 8rem 8rem 10rem;
}

.product-gallery {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(8, 10rem);
    grid-template-areas:
        'a a'
        'b b'
        'c c'
        'c c'
        'd d'
        'e f'
        'e f'
        'g g';
    margin: 2rem;
}

section.gallery  p {
    text-align: center;
}

.search {
    margin: 10vh auto 1rem;
}